.App{
  display: inline-block;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 30%;
  padding: 50px;
}

img{
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
}